$brand-primary: #0374D9;
$brand-success: $brand-primary;
$brand-warning: #fad782;
$brand-danger:  #ff5252;

$brand-secondary: #222222;

$text-color: #4e5565;

$link-color: #2d7ccc;

$btn-default-color:  $brand-primary;
$btn-default-border: $brand-primary;
$btn-default-bg:     transparent;

$btn-primary-border: $brand-primary;
$btn-success-border: $brand-success;

$topbar-color: #fff;

$topbar-btn-color: $topbar-color;
$topbar-btn-bg: $brand-primary;
$topbar-btn-border: $brand-primary;



$menu-button-line-color: #fff;

@import '../../theme';