<style>
  .view-switcher {
    position: fixed;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    left: 20px;
    bottom: 20px;
    border-radius: 2px;
    background-color: #303030;
    color: #fff;
    box-shadow: 0 0 .5rem 0 rgba(0,0,0,.1);
    font-size: 12px;
    z-index: 100;
    border-radius: 3px;
    overflow: hidden;
    transition: all .3s ease;
    min-width: 220px;
  }

  @media (max-width: 480px) {
    .view-switcher {
      display: none;
    }
  }

    .view-switcher__items {
      border: 0;
      width: 100%;
      background: #404040;
      margin-bottom: 1px;
      padding: 8px 16px 0 16px;
    }

    .view-switcher__items--blocks {
      /*display: none;*/
    }

    .view-switcher__items label {
      font-weight: normal;
    }

   .view-switcher__items label input {
      margin-right: 8px;
    }

    .view-switcher__items .radio,
    .view-switcher__items .checkbox {
      margin-top: 0;
      margin-bottom: 0;
    }

    .view-switcher__item {
      width: 100%;
      text-align: left;
      border: 0;
    }

    .view-switcher__title {
      padding: 8px 16px;
      font-weight: bold;
    }
    .view-switcher__title a {
      color: #fff;
      text-decoration: none;
    }

     .view-switcher__title a:hover {
      text-decoration: none;
    }

    .view-switcher__note {
      font-size: 11px;
      color: #999;
      padding: 8px 16px;
      background: #404040;
    }
    .view-switcher__toggle {
      cursor: pointer;
    }

    .view-switcher .view-switcher__items,
    .view-switcher .view-switcher__note {
      transition: opacity .3s ease;
    }

    .view-switcher--collapsed {
      bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .view-switcher--collapsed .view-switcher__items,
    .view-switcher--collapsed .view-switcher__note {
      position: absolute;
      left: 100%;
      top: 100%;
      opacity: 0;
    }

  /*
    View Switcher Variant Option
   */

  .view-switcher-variant-color {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 0;
    line-height: 1;
    user-select: none;
  }

  .view-switcher-variant-color input[type="radio"] {
    display: none;
  }

  .view-switcher-variant-color input[type="radio"]:checked + .view-switcher-variant-color__color {
    border-color: #000;
  }

  .view-switcher-variant-color input[type="radio"]:checked + .view-switcher-variant-color__color:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
  }

  .view-switcher-variant-color + .view-switcher-variant-color {
    margin-left: 8px;
  }

    .view-switcher-variant-color__color {
      position: relative;
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 100%;
      background-color: red;
      margin-top: 4px;
     margin-bottom: 8px;
    }

  .view-switcher-variant-color-label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
    font-weight: 400;
  }

  /*
    Utils
   */
  
    .pull-left {
      float: left;
    }

    .pull-right {
      float: right;
    }

    .clearfix:before,
    .clearfix:after {
     content: " "; /* 1 */
      display: table; /* 2 */
    }

    .clearfix:after {
      clear: both;
  }
</style>

<div class="view-switcher" id="view-switcher">
  <div class="view-switcher__title clearfix">
    <div class="pull-left">Theme options <a target="_blank" href="http://support.deskthemeshq.com/customer/en/portal/articles/2667812-options-of-support-center-home-page-layout" class="fa fa-info-circle"></a></div>
    <div class="pull-right">
        <span class="fa fa-minus view-switcher__toggle" data-view-switcher-toggle></span>
        <span class="fa fa-plus view-switcher__toggle hidden" data-view-switcher-toggle></span>
    </div>
  </div>
  <div class="view-switcher__items view-switcher__items--blocks">
    <div class="checkbox">
      <label>
        <input data-option-toggle type="checkbox" name="customblocks" value="#custom-blocks" checked /> Custom Blocks
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input data-option-toggle type="checkbox" name="category" value="#category-list" checked /> Category List
      </label>
    </div>
    <div class="checkbox">
      <label>
         <input data-option-toggle type="checkbox" name="category" value="#category-tree" checked /> Category Tree
      </label>
    </div>
  </div>
  <div class="view-switcher__note">
   This widget is for demo purposes only
  </div>
</div>
<script>
  jQuery(document).on('change', '[data-option-toggle]', function(e) {
      e.preventDefault();
      var $toggableBlock = jQuery(this).val();
      jQuery($toggableBlock).toggleClass('hidden');
    });
  
  jQuery(document).on('change', '[data-option-category]', function(e) {
    e.preventDefault();
    var $toggableBlock = jQuery(this).val();
    jQuery($toggableBlock).toggleClass('hidden');
    jQuery('#category-list, #category-tree').addClass('hidden');
    jQuery($toggableBlock).removeClass('hidden');
  });
  
  jQuery(document).on('click', '[data-view-switcher-toggle]', function(){
    jQuery('.view-switcher').toggleClass('view-switcher--collapsed');
    jQuery('.view-switcher__toggle').toggleClass('hidden');
});
</script>
