</div>
<footer class="footer-container container">
  <div class="container-inner footer-container__inner">
    <div class="footer-container__col footer-container__copyright">
      {{ portal | portal_copyright }}
      <p>Theme by <a href="https://www.breezythemes.com" target="_blank">Breezy Themes</a>
      </p>
    </div>
    <div class="footer-container__col footer-container__col--social-links">
      <a href="#" target="_blank" class="footer-social-link fa fa-facebook"></a>
      <a href="#" target="_blank" class="footer-social-link fa fa-twitter"></a>
      <a href="#" target="_blank" class="footer-social-link fa fa-google-plus"></a>
    </div>
  </div>
</footer>
<a href="#" class="scroll-to-top fa fa-angle-up" data-scroll-to-top></a>
