<div class="row custom-blocks clearfix" id="custom-blocks">
  <div class="column column--xs-4 custom-block">
    <a class="custom-block__link" href="{{portal.new_ticket_url}}">
      <div class="custom-block__icon">
        <svg width="66" height="66" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <g transform="translate(1 1)" fill="none">
            <circle stroke="#000" stroke-width="2" cx="32" cy="32" r="32" />
            <path d="M29.501 40.627c-.032-1.687.087-3.221.356-4.601s1.022-2.699 2.258-3.957c.697-.705 1.426-1.396 2.186-2.07.761-.675 1.458-1.357 2.091-2.047.634-.69 1.165-1.403 1.592-2.139.428-.736.642-1.534.642-2.392 0-.828-.166-1.603-.499-2.323-.333-.721-.816-1.35-1.45-1.886-.634-.537-1.41-.959-2.329-1.265-.919-.307-1.965-.46-3.137-.46s-2.218.199-3.137.598c-.919.399-1.687.951-2.305 1.656-.618.705-1.085 1.526-1.402 2.461-.317.936-.459 1.955-.428 3.06h-2.899c-.127-1.534.048-2.929.523-4.187.475-1.258 1.18-2.339 2.115-3.244.935-.905 2.052-1.603 3.351-2.093 1.299-.491 2.725-.736 4.278-.736 1.616 0 3.066.207 4.349.621 1.283.414 2.369.997 3.256 1.748.887.751 1.569 1.664 2.044 2.737.475 1.074.713 2.254.713 3.543 0 1.35-.309 2.507-.927 3.474-.618.966-1.371 1.863-2.258 2.691-.887.828-1.806 1.664-2.757 2.507-.951.843-1.775 1.787-2.472 2.829-.539.797-.84 1.679-.903 2.645-.063.966-.095 1.909-.095 2.829h-2.757l.001.001zm-.285 8.373v-4.049h3.47v4.049h-3.47z"
            fill="#000" />
          </g>
        </svg>
      </div>
      <h4 class="custom-block__title">Submit a ticket</h4> </a>
  </div>
  <div class="column column--xs-4 custom-block">
    <a class="custom-block__link" href="/support/tickets">
      <div class="custom-block__icon">
        <svg width="66" height="66" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <g fill="#231F20">
            <path d="M61.875 0h-47.438c-2.28 0-4.125 1.845-4.125 4.125v27.844h-6.188c-2.28 0-4.125 1.845-4.125 4.125v23.719c0 3.417 2.771 6.188 6.188 6.188h53.625c3.417 0 6.188-2.771 6.188-6.188v-55.688c0-2.28-1.845-4.125-4.125-4.125zm-59.813 59.813v-23.719c0-1.139.924-2.063 2.063-2.063h6.188v25.781c0 2.278-1.847 4.125-4.125 4.125s-4.125-1.847-4.125-4.125zm57.75 4.125h-49.023c.983-1.095 1.585-2.538 1.585-4.125v-55.688c0-1.139.924-2.063 2.063-2.063h47.438c1.139 0 2.063.924 2.063 2.063v55.688c0 2.278-1.847 4.125-4.125 4.125zM54.656 25.781h-33c-.57 0-1.031.461-1.031 1.031 0 .57.461 1.031 1.031 1.031h33c.57 0 1.031-.461 1.031-1.031 0-.57-.461-1.031-1.031-1.031zM54.656 19.594h-33c-.57 0-1.031.461-1.031 1.031 0 .57.461 1.031 1.031 1.031h33c.57 0 1.031-.461 1.031-1.031 0-.57-.461-1.031-1.031-1.031zM54.656 38.156h-33c-.57 0-1.031.461-1.031 1.031 0 .57.461 1.031 1.031 1.031h33c.57 0 1.031-.461 1.031-1.031 0-.57-.461-1.031-1.031-1.031zM54.656 44.344h-33c-.57 0-1.031.461-1.031 1.031 0 .57.461 1.031 1.031 1.031h33c.57 0 1.031-.461 1.031-1.031 0-.57-.461-1.031-1.031-1.031zM54.656 50.531h-33c-.57 0-1.031.461-1.031 1.031 0 .57.461 1.031 1.031 1.031h33c.57 0 1.031-.461 1.031-1.031 0-.57-.461-1.031-1.031-1.031zM54.656 31.969h-33c-.57 0-1.031.461-1.031 1.031 0 .57.461 1.031 1.031 1.031h33c.57 0 1.031-.461 1.031-1.031 0-.57-.461-1.031-1.031-1.031zM21.656 15.469h15.469c.57 0 1.031-.461 1.031-1.031 0-.57-.461-1.031-1.031-1.031h-15.469c-.57 0-1.031.461-1.031 1.031 0 .57.461 1.031 1.031 1.031z"
            />
          </g>
        </svg>
      </div>
      <h4 class="custom-block__title">My Tickets</h4> </a>
  </div>
  {% if portal.has_forums %}
  <div class="column column--xs-4 custom-block">
    <a href="{{ portal.discussions_home_url }}" class="custom-block__link">
      <div class="custom-block__icon">
        <svg width="66" height="66" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <g fill="#231F20">
            <path d="M61.875 0h-45.375c-2.28 0-4.125 1.845-4.125 4.125v6.188h-8.25c-2.28 0-4.125 1.845-4.125 4.125v30.938c0 2.28 1.845 4.125 4.125 4.125h7.219c.57 0 1.031.461 1.031 1.031v11.344c0 1.668 1.003 3.174 2.546 3.81.511.213 1.047.315 1.579.315 1.071 0 2.126-.419 2.916-1.209l14.598-14.598s.532-.693 1.724-.693h15.824c2.28 0 4.125-1.845 4.125-4.125v-8.25h6.188c2.28 0 4.125-1.845 4.125-4.125v-28.875c0-2.28-1.845-4.125-4.125-4.125zm-8.25 45.375c0 1.14-.923 2.063-2.063 2.063h-15.824c-2.008 0-2.739 1.031-2.739 1.031l-14.438 14.438c-2.208 2.208-4.125.403-4.125-1.031v-12.375c0-1.14-.923-2.063-2.063-2.063h-8.25c-1.14 0-2.063-.923-2.063-2.063v-30.938c0-1.14.923-2.063 2.063-2.063h47.438c1.14 0 2.063.923 2.063 2.063v30.938zm10.313-12.375c0 1.14-.923 2.063-2.063 2.063h-6.188v-20.625c0-2.28-1.845-4.125-4.125-4.125h-37.125v-6.188c0-1.14.923-2.063 2.063-2.063h45.375c1.14 0 2.063.923 2.063 2.063v28.875zM13.406 24.75h13.406c.57 0 1.031-.461 1.031-1.031 0-.57-.461-1.031-1.031-1.031h-13.406c-.57 0-1.031.461-1.031 1.031 0 .57.461 1.031 1.031 1.031zM42.281 28.875h-28.875c-.57 0-1.031.461-1.031 1.031 0 .57.461 1.031 1.031 1.031h28.875c.57 0 1.031-.461 1.031-1.031 0-.57-.461-1.031-1.031-1.031zM35.063 35.063h-21.656c-.57 0-1.031.461-1.031 1.031 0 .57.461 1.031 1.031 1.031h21.656c.57 0 1.031-.461 1.031-1.031 0-.57-.461-1.031-1.031-1.031z"
            />
          </g>
        </svg>
      </div>
      <h3 class="custom-block__title">Discussions</h3> 
    </a>
  </div>
  {% endif %}
</div>

{% if portal.has_solutions %}
<div class="knowledge-base">
  <ul class="row category-list clearfix" id="category-list">
    {% for category in portal.solution_categories %}
      {% if category.folders_count > 0 %}
        <li class="column column--sm-4 category-list-item">
          <a class="category-list-item__link" href="{{category.url}}">
            <h2 class="h5 category-list-item__title">{{category.name}}</h2>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <div class="category-tree" id="category-tree">
    {% for category in portal.solution_categories %}
      {% if category.folders_count > 0 %}
        <section class="category-tree-item">
          <h2 class="category-tree-item__title">
            <a class="category-tree-item__title-link" href="{{category.url}}">{{category.name}}</a>
          </h2>
          <div class="category-tree-item__folders row clearfix">
            {% for folder in category.folders %}
              {% if folder.articles_count > 0 %}
                <section class="column column--sm-6 column--md-4 folder">
                  <h3 class="folder__title">
                    <a class="folder__title-link" href="{{folder.url}}">{{folder.name}}</a>
                  </h3>
                  <ul class="articles">
                    {% for article in folder.articles | limit: 5 %}
                      <li class="articles__item">
                        <a class="articles__link" href="{{ article.url }}">{{ article.title | h }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                  {% if folder.articles.size > 5 %}
                    <a href="{{ folder.url }}" class="btn btn-default see-all-articles">
                      View all ({{folder.articles_count}})
                    </a>
                  {% endif %}
                </section>
              {% endif %}
            {% else %}
              {{ portal | filler_for_solutions }}
            {% endfor %}
          </div>
        </section>
      {% endif %}
    {% endfor %} 
  </div>
</div>
{% endif %} 

<section class="footer-submit-ticket">
  <h2 class="footer-submit-ticket__title">Can't find what you're looking for?</h2>
  <h3 class="footer-submit-ticket__subtitle">Let us help you!</h3>
  <p class="footer-submit-ticket__btn">
    <a href="{{portal.new_ticket_url}}" class="btn btn-primary">
      Submit a Ticket
    </a>
  </p>
</section>
