<div class="signup-page" id="login-page-wrapper">
  <div class="row clearfix">
    <div class="column column--sm-8 column--sm-offset-2">
      <h1 class="signup-page__title">{% translate portal.user_signup_portal %} {{ portal.name }} {% translate portal.account %}</h1>
      {% snippet signup_form %}
    </div>
  </div>
</div>
