.article-page {
  margin-bottom: ($line-height-computed * 2);
}

.article {
  position: relative;
}

.article__title {
  font-size: $font-size-h3;
  font-weight: 300;

  @media (min-width: $screen-sm-min) {
    font-size: $font-size-h2;
  }

  @media (min-width: $screen-md-min) {
    font-size: $font-size-h1;
  }
}

.article-meta {
  display: table;
  margin-bottom: $line-height-computed;
  width: 100%;
}

.article-meta__col {
  display: table-cell;
  vertical-align: top;
}

/* .article-meta__col--main {
  padding-right: $padding-base-horizontal;
  width: 100%;
} */

/* .article-subscribe,
.article-unsubscribe {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
 */
.article__body {
  margin-bottom: $line-height-computed;

  ul,
  ol {
    margin-left: 20px;
  }

  ul {
    list-style-type: disc;
  }

  ul ul {
    list-style-type: circle;
  }

  ol {
    list-style-type: decimal;
  }

  ul,
  ol {
    li {
      margin-bottom: ($line-height-computed / 3);
    }
  }
}

.article-vote {
  position: relative;

  padding: $line-height-computed $padding-base-horizontal;
  border: $border-width $hr-border-style $hr-border;
  border-radius: $border-radius-base;
}

.article-vote-item {
  @include button-variant($text-color, $gray-lighter, $gray-lighter);
}

.article-vote-count {
  display: block;
  font-size: ($font-size-small - 2);
  color: $meta-text-color;
}


/* .article__share {
  margin-bottom: $line-height-computed;
  ul {
    margin-top: 0;
  }
} */

.article-footer {
  margin-bottom: $line-height-computed;
}

.article__attachments {
  margin-bottom: $line-height-computed;
}

/* .article-more-questions {
  margin-bottom: ($line-height-computed);
  clear: both;
  &:empty {
    display: none;
  }

  a {
    white-space: nowrap;
  }
} */

.article-sidebar {
  @media (max-width: $screen-xs-max) {
    padding-top: ($line-height-computed);
    border-top: $border-width solid $hr-border;
  }
}
