.attachment-list {
  @include list-unstyled;
  margin: 0;
  font-size: $font-size-small;
}

  .attachment-list__item {
    position: relative;
    padding-left: ($padding-base-horizontal * 1.5);
    margin-bottom: ($line-height-computed / 2);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .attachment-list__icon {
    position: absolute;
    left: 0;
    top: 4px;
  }
