.avatar {
  position: relative;
  display: inline-block;
}

/* .avatar--agent {
  &:before {
    @include font-awesome;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: -4px;
    margin-bottom: -4px;

    font-size: $font-size-small;
    color: $avatar-agent-icon-color;
    content: "\f19d";
  }
} */

.user-pointer-bottom:before,
.user-pointer-bottom:after {
  display: none;
}

.user-pic-thumb {
  border: none;
  /* margin-right: 0; */
  margin-left: 0;
  padding: 0;
  @include size($user-avatar-size);
}
