.breadcrumbs {
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal 0;
  margin-bottom: $line-height-computed;
  list-style: none;
  background-color: $breadcrumb-bg;
  border-radius: $border-radius-base;

  > li {
    display: inline-block;

    + li:before {
      $nbsp: "\00a0";
      padding: 0 5px;
      color: $breadcrumb-color;
    }

    a {
      color: $breadcrumb-link-color;
    }
  }
}

.breadcrumbs--search-results {
  margin-bottom: ($line-height-computed / 2);
  font-size: $font-size-small;
  padding: 0;
}