%btn-disabled {
  &[disabled],
  fieldset[disabled] & {
    box-shadow: none;
    opacity: .65;
    cursor: $cursor-disabled;
    pointer-events: none; // Future-proof disabling of clicks
  }
}

%btn {
  @include button-size($padding-base-vertical, $padding-base-horizontal, ($font-size-base - 5), $line-height-base, $btn-border-radius);

  display: inline-block;
  margin-bottom: 0; // For input.btn
  border: $btn-border-width solid transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  box-shadow: none !important;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-shadow: none;
  white-space: nowrap;
  letter-spacing: .1px;
  font-weight: $btn-font-weight;
  cursor: pointer;
  transition: all .3s ease;
  user-select: none;
  touch-action: manipulation;

  &,
  &:active {
    &:focus {
      @include tab-focus;
    }
  }
  &:hover,
  &:focus {
    color: $btn-default-color;
    text-decoration: none;
  }
  &:active {
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }
}


.btn {
  @extend %btn;
}

/* input[type="submit"] {
  @extend %btn;
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}

[role="button"] {
  @extend %btn;
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
} */

// Alternate buttons

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

// Success appears as green
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}


.btn-topbar {
  @include button-variant($topbar-btn-color, $topbar-btn-bg, $topbar-btn-border);
}

.btn-google {
  @include button-variant(#fff, $brand-google, $brand-google);

  &:before {
    display: none;
  }
}

.btn-facebook {
  @include button-variant(#fff, $brand-facebook, $brand-facebook);

  &:before {
    display: none;
  }
}

.btn-twitter {
  @include button-variant(#fff, $brand-twitter, $brand-twitter);

  &:before {
    display: none;
  }
}
