.category-page {
  @media (min-width: $screen-sm-min) {
    margin-bottom: ($line-height-computed * 2);
  }
}

.category-description {
  &:empty {
    display: none;
  }
}

.category-tree-item__title {
  padding-bottom: ($line-height-computed / 2);
  border-bottom: $border-width $hr-border-style $hr-border;
}

.category-tree-item__folders {
  margin-bottom: $line-height-computed;
}

.category-tree-item__title-link {
  color: $category-tree-item-title-link-color;
}

.category-list {
  margin-bottom: $line-height-computed;
  padding-left: 0;
  list-style: none;
}

.category-list-item {
  position: relative;
  margin-bottom: $line-height-computed;

  @media (min-width: $screen-sm-min) {
    display: table;
    height: 150px;
  }
}

.category-list-item__link {
  display: block;
  padding: $line-height-computed $grid-gutter-width;
  border-radius: $border-radius-base;
  background-color: $brand-primary;
  color: $category-list-color;
  text-align: center;
  font-weight: $strong-font-weight;
  transition: all 0.3s ease;

  @media (min-width: $screen-sm-min) {
    display: table-cell;
    vertical-align: middle;
  }

  &:active,
  &:focus,
  &:hover {
    background-color: $link-hover-color;
    color: $category-list-color-hover;
    text-decoration: none;
  }
}

.category-list-item__title {
  margin-bottom: 0;
  font-weight: $strong-font-weight;
}
