$custom-block-icon-size: 66px;

.custom-blocks {
  @media (max-width: ($screen-xs - 1)) {
    margin-bottom: $line-height-computed;
  }
}

.custom-block {
  margin-bottom: $line-height-computed;
  @media (max-width: ($screen-xs - 1)) {
    float: none;
    width: 100%;
    padding: 0 $padding-large-horizontal;
  }
  @media (min-width: $screen-xs) {
    padding: 0 $padding-large-horizontal;
    text-align: center;
  }
  @media (min-width: $screen-sm-min) {
    margin-bottom: $line-height-computed;
  }
}

.custom-block__link {
  display: block;
  @media (max-width: ($screen-xs - 1)) {
    display: table;
  }
  &:active,
  &:focus,
  &:hover {
    .custom-block__icon path {
      fill: $custom-block-icon-color-hover;
    }
    .custom-block__icon circle {
      stroke: $custom-block-icon-color-hover;
    }
  }
}

.custom-block__icon {
  display: inline-block;
  @media (min-width: $screen-xs) {
    margin-bottom: $line-height-computed;
  }
  svg {
    @include size(56px);
    @media (min-width: $screen-xs) {
      @include size($custom-block-icon-size);
    }
  }
  circle,
  path {
    transition: all .3s ease;
  }
  path {
    fill: $custom-block-icon-color;
  }
  circle {
    stroke: $custom-block-icon-color;
  }
}

.custom-block__title {
  font-size: $font-size-base;
  font-weight: $strong-font-weight;
  color: $text-color;
  text-transform: uppercase;
  @media (max-width: ($screen-xs - 1)) {
    display: table-cell;
    width: 100%;
    padding-left: $padding-base-horizontal;
  }
  @media (min-width: $screen-xs) {
    display: block;
  }
}
