.dropdown-menu {
  border: 0;
  min-width: 0 !important;
  font-size: $navbar-dropdown-font-size;
  overflow: hidden;

  a {
    padding: ($line-height-computed / 2) $padding-base-horizontal;
  }
}

.dropdown .caret {
  border-top-color: currentColor;
}
