.footer-container {
  padding-top: ($line-height-computed * 2);
  border-width: $footer-border-width;
  border-style: solid;
  border-color: $footer-border-color;
  background-color: $footer-bg;
  color: $footer-text-color;
  font-size: $footer-font-size;
  line-height: 1.1;

  a {
    margin: 0;
  }
}

.footer-container__inner {
  margin: 0 auto;
  width: 100%;

  @media (min-width: $screen-sm-min) {
    display: table;
  }
}

.footer-container__col {
  position: relative;

  @media (min-width: $screen-sm-min) {
    display: table-cell;
    vertical-align: top;
  }
}

.footer-container__col--social-links {
  @media (min-width: $screen-sm-min) {
    text-align: right;
  }
}
.footer-container {
  color: #ced4d9;
}

.footer-container__copyright a {
  color: $footer-social-link-color;
}

.footer-social-link {
  width: 30px;
  height: 30px;
  color: $footer-social-link-color;
  vertical-align: middle;
  font-size: ($font-size-base + 2);
  background-color: #414141;
  position: relative;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  & + & {
    margin-left: 5px;
  }
}

.copyright {
  margin-bottom: ($line-height-computed / 2);
  padding: 0;
  text-align: left;
  color: #ced4d9;
}

.layout {
  margin-bottom: -$footer-height;
  min-height: 100%;
  background-color: #fff;

  @media (max-width: $screen-xs-max) {
    margin-bottom: -($footer-height + ($line-height-computed * 2));
  }
}

.layout:after {
  display: block;
  content: "";
}

.footer-container,
.layout:after {
  height: $footer-height;

  @media (max-width: $screen-xs-max) {
    height: ($footer-height + ($line-height-computed * 2));
  }
}
