.footer-submit-ticket {
  padding: ($line-height-computed * 2) $padding-large-horizontal $line-height-computed;
  margin-bottom: ($line-height-computed * 2);
  text-align: center;
  background-color: $hr-border;
  border-radius: $border-radius-base;
}

.footer-submit-ticket__title {
  font-size: $font-size-h3;
  
}

.footer-submit-ticket__subtitle {
  font-size: $font-size-h3;
  color: $footer-submit-ticket-subtitle-color;
}

.footer-submit-ticket__btn {
  &:empty {
    display: none;
  }
  .btn {
    padding: ($padding-base-vertical * 1.5) ($padding-base-horizontal *  1.5);
  }
}
