.hero-bg {
  position: absolute;
  top: -10%;
  left: 0;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: cover;
  width: 100%;
  height: 150%;
}

.hero-unit {
  position: relative;
  transform: translate3d(0, 0, 0);
  margin-top: -$line-height-computed;
  margin-bottom: ($line-height-computed * 2);
  padding: 15% $grid-gutter-width 10%;
  overflow: hidden;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    opacity: $hero-unit-mask-opacity;
    z-index: 1;
    background-color: $hero-unit-mask-bg;
    width: 100%;
    height: 100%;
    content: '';
  }

  @media (min-width: $screen-sm-min) {
    margin-top: -($line-height-computed * 2);
    padding-bottom: 5%;
  }
}
