.intro-title {
  margin-bottom: $line-height-computed;
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: $font-size-h3;
  line-height: 1.1;
  //font-family: $font-family-header;
  font-family: $font-family-header;

  @media (min-width: $screen-sm-min) {
    font-size: 34px;
  }
  @media (min-width: $screen-md-min) {
    margin-bottom: ($line-height-computed * 1.5);
    font-size: 41px;
  }
}
