/* ====================== lines button ==================================================*/

$button-size: 30px;
$color: $menu-button-line-color;
$transition: .3s;// increase this to see the transformations happen in slow motion

@mixin line {
  display: inline-block;
  width: $button-size;
  height: $button-size/15;
  background: $color;
  border-radius: $button-size/15;
  transition: $transition;
}

.lines-button {
  padding: $button-size/2 $button-size/4;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 0;
  transition: .3s;

  @extend %btn;
  @media (max-width: $screen-xs-max) {
    float: right;
  }
  @media (min-width: $screen-sm-min) {
    display: none;
  }
  &:hover {
    opacity: 1;
  }
  &:active {
    outline: 0;
    box-shadow: none;
    transition: 0;
  }
  &:focus {
    outline: 0;
  }
}

//common to all three-liners
.lines {
  position: relative;

  @include line;
  &:before,
  &:after {
    position: absolute;
    left: 0;

    content: '';
    transform-origin: $button-size/14 center;

    @include line;
  }
  &:before {
    top: $button-size/4;
  }
  &:after {
    top: -$button-size/4;
  }
}

.csstransforms3d .lines-button.is-active {
  transform: scale3d(.8, .8, .8);
  .lines {
    background: transparent;
    &:before,
    &:after {
      top: 0;

      width: $button-size;
      transform-origin: 50% 50%;
    }
    &:before {
      transform: rotate3d(0,0,1, 45deg);
    }
    &:after {
      transform: rotate3d(0,0,1, -45deg);
    }
  }
}
