.new-topic-page {
  @media (min-width: $screen-sm-min) {
    margin-bottom: ($line-height-computed * 2);
  }
}

.new-topic-title {
  font-size: $font-size-h3;

  @media (min-width: $screen-sm-min) {
    font-size: $font-size-h2;
  }

  @media (min-width: $screen-md-min) {
    font-size: $font-size-h1;
  }
}

.new-topic-form {
  margin-bottom: $line-height-computed;
}

