.note {
  position: relative;
  margin: $line-height-computed 0;
  padding-left: $padding-base-horizontal;
  border-left: $note-border-width $hr-border-style transparent;
  color: lighten($text-color, 20%);

  p:last-child {
    margin-bottom: 0;
  }
}

.note-title {
  margin-bottom: ($line-height-computed / 2);
  font-weight: $strong-font-weight;
  font-size: $font-size-base;
}

.note-default,
.note--default {
  border-color: $gray-light;

  .note-title {
    color: $gray-light;
  }
}

.note-info,
.note--info {
  border-color: $brand-info;

  .note-title {
    color: $brand-info;
  }
}

.note-warning,
.note--warning {
  border-color: $brand-warning;

  .note-title {
    color: $brand-warning;
  }
}

.note-success,
.note--success {
  border-color: $brand-success;

  .note-title {
    color: $brand-success;
  }
}

.note-danger,
.note--danger {
  border-color: $brand-danger;

  .note-title {
    color: $brand-danger;
  }
}
