.related-articles {
  h3 {
    margin-bottom: ($line-height-computed / 2);
    @media (min-width: $screen-sm-min) {
      margin-top: ($line-height-computed / 2);
    }
  }
  ul {
    @include list-unstyled;
    > li {
      margin-bottom: ($line-height-computed / 3);

      a {
        color: $text-color;
        border-bottom: 1px solid $hr-border;
        padding-bottom: 1px
      }
    }
  }
}
