.scroll-to-top {
  position: fixed;
  right: 30px;
  bottom: -50px;

  z-index: 3;
  font-size: 32px !important;
  line-height: 45px !important;
  text-align: center;
  border: $border-width solid $link-color;
  border-radius: $border-radius-base;
  transition: bottom .4s cubic-bezier(.175, .885, .32, 1.275);

  @include size(50px);
  &:focus,
  &:active {
    outline: 0;
  }
  &.is-active {
    bottom: 30px;
  }
  &:hover {
    color: $link-hover-color;
    border-color: $link-hover-color;
  }
}
