.search-results-page {
  margin-bottom: ($line-height-computed * 2);
}

.search-results-count {
  font-size: $font-size-h4;
}

.search-result {
  margin-bottom: $line-height-computed;
  border-bottom: $border-width $hr-border-style $hr-border;
}

.search-result__title {
  margin-bottom: ($line-height-computed / 2);
  font-weight: $strong-font-weight;
}

.search-result__description {
  margin-bottom: ($line-height-computed / 2);
  font-size: $font-size-small;
}

.search-result__meta {
  margin-bottom: ($line-height-computed / 2);
}

.search-results-filters {
  margin-bottom: $line-height-computed;
  .nav-pills > .active > a, 
  .nav-pills > .active > a:hover {
    background-color: $hr-border;
    box-shadow: none;
  }
}

.match {
  padding: 0 3px;
  border-radius: 3px;
  background-color: #fff3ca;
  font-weight: $strong-font-weight;
  font-style: normal;
}