.hc-search-input {
  input[type="text"] {
    box-shadow: none;
  }
}

.search-box {
  position: relative;
}

.search-box--hero-unit {
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;

  .hc-search-input {
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }

    @media (min-width: $screen-sm-min) {
      width: 100%;
    }
  }

  .hc-search-input:before {
    left: 10px;
    margin-top: -$search-icon-font-size / 2;
    font-size: $search-icon-font-size;
  }

  .hc-search-input input[type="text"] {
    padding: 0 55px;
    height: 50px;
    border-radius: $border-radius-base;
    font-size: 16px;
    border-radius: 50px;
    background-color: #f0f0f0;
    border: none;

    &:active,
    &:focus {
      background-color: #fff;
      box-shadow: 0 0 7px 0px $footer-bg;
      line-height: 100%;
    }
  }

  .hc-search-button .btn {
    display: none;
    padding-right: $padding-large-horizontal;
    padding-left: $padding-large-horizontal;
    height: 50px;
    border-radius: 0 50px 50px 0;
    display: none;
    background-color: $gray-light;

    @media (min-width: $screen-md-min) {
      height: 60px;
    }
  }

  .hc-search-button {
    @media (min-width: $screen-sm-min) {
      float: right;
    }
  }
}

.search-box--small {
  margin-bottom: ($line-height-computed * 2);

  .hc-search-input {
    width: 100%;
  }

  .hc-search-button {
    display: none;
  }
}
