.hc-search-input {
  position: relative;

  input[type="text"] {
    box-shadow: none;
  }

  &:before {
    @include font-awesome;

    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -($search-icon-font-size - 4)/2;
    color: $search-icon-color;
    content: "\f002";
    font-size: ($search-icon-font-size - 4);
  }

  input[type="submit"] {
    display: none;
  }
}

.hc-search-input input[type="text"] {
  @include placeholder(#333);

  display: inline-block;
  padding: 0 10px 0 35px;
  border-radius: $search-query-border-radius;
  background-color: rgba(255, 255, 255, 0.9);
  color: $search-query-text-color;
  font-size: 14px;
  transition: border 0.3s ease;
}
