.ticket-list-page {
  margin-bottom: ($line-height-computed * 2);
}

a#ticket-export-button,
#ticket-sort .dropdown-toggle,
#ticket-filters .dropdown-toggle {
  @extend %btn;
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);

  margin: 0;
}

.ticket-filter-container {
  margin-bottom: $line-height-computed;

  @media (min-width: $screen-sm-min) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    > * + * {
      margin-left: 10px;
    }
  }
}

.ticket-filter-container #ticket-toolbar {
  float: none;
  margin-top: 0;

  @media (max-width: $screen-xs-max) {
    margin-bottom: ($line-height-computed / 2);

    > * + * {
      margin-top: ($line-height-computed / 2);
    }
  }
  @media (min-width: $screen-sm-min) {
    display: flex;
    align-items: center;
    width: 100%;

    > * + * {
      margin-left: 10px;
    }
  }
}

.c-list {
  border-bottom-width: 2px;
  border-bottom-color: $hr-border;
}

.c-row {
  padding: $line-height-computed $grid-gutter-width;
  border-top-width: 2px;
  border-top-color: $hr-border;
}

.ticket-brief {
  padding-top: 0;
}

.ticket-brief a {
  display: block;
  font-weight: $strong-font-weight;
}

.c-ticket-row .label {
  @media (max-width: $screen-xs-max) {
    float: none;
  }
}

