.topbar {
  margin-bottom: $line-height-computed;
  width: 100%;
  border-width: $topbar-border-width;
  border-style: solid;
  border-color: $topbar-border-color;
  color: $topbar-color;
  border-top: 3px solid $brand-primary;

  @media (min-width: $screen-sm-min) {
    margin-bottom: ($line-height-computed * 2);
  }

/*   .submit-a-request,
  .login,
  .language-selector {
    @media (max-width: $screen-xs-max) {
      margin-bottom: $padding-xs-horizontal;
    }
  } */
  .welcome {
    display: none;
  }
}

// .topbar + main {
//   // padding-top: $line-height-computed;
//   // @media (min-width: $screen-sm-min) {
//     // padding-top: ($line-height-computed * 2);
//   // }
// }

.topbar__inner {
  margin: 0 auto;
  width: 100%;

  @media (min-width: $screen-sm-min) {
    display: table;
  }
}

.topbar__col {
  position: relative;
  padding: ($line-height-computed) 0;

  @media (min-width: $screen-sm-min) {
    display: table-cell;
    vertical-align: middle;
  }
}

.topbar__controls {
  font-size: 0;

  @media (min-width: $screen-sm-min) {
    float: right;
  }

  > * {
    @media (max-width: $screen-xs-max) {
      display: block;
      margin-bottom: 10px;
    }
    
    @media (min-width: $screen-sm-min) {
      display: inline-block;
      vertical-align: middle;
    }
  }

  > * + * {
    @media (min-width: $screen-sm-min) {
      margin-left: 10px;

    }
  }

/*   b {
    display: inline-block;
    vertical-align: middle;
  } */
  > b > a {
    @extend %btn;
    @include button-variant($topbar-btn-color, $topbar-btn-bg, $topbar-btn-border);

    @media (max-width: $screen-xs-max) {
      display: block;
    }

    > b {
      font-weight: $btn-font-weight;
    }
  }
}

.topbar__collapse {
  @media (max-width: $screen-xs-max) {
    display: none;
    padding-bottom: $line-height-computed;
  }
  @media (min-width: $screen-sm-min) {
    display: block !important;
  }
}

.topbar__menu {
  @media (max-width: $screen-xs-max) {
    padding: 0;
  }
}
