.topic-list {
  padding-left: 0;
  list-style: none;
}

.topic-list__item {
  @include clearfix;

  margin-bottom: ($line-height-computed );

  & + & {
    padding-top: $line-height-computed;
    border-top: 1px solid $hr-border;
  }
}

.topic-list__link {
  font-size: $font-size-h4;
}