$brand-primary: #3DAE5F;
$brand-success: #0DB710;
$brand-warning: #F5D200;
$brand-danger:  #ff4b46;

$brand-secondary: #030303;

$text-color: #030303;

$link-color: $brand-primary;

$btn-default-color:  #666666;
$btn-default-border: #666666;
$btn-default-bg:     transparent;

$btn-primary-border: $brand-primary;

$btn-success-color:  #fff;
$btn-success-bg:     $brand-secondary;
$btn-success-border: $brand-secondary;

$topbar-btn-color: $brand-primary;
$topbar-btn-bg: transparent;
$topbar-btn-border: $brand-primary;
$topbar-border-width: 4px 0 1px 0;
$topbar-border-color: $brand-primary transparent #eee;

$breadcrumb-color: #666666;

$menu-button-line-color: $text-color;

$category-tree-item-title-link-color: $brand-primary;

$article-list-link-color: #666666;

$hero-unit-mask-bg: #000;

$footer-submit-ticket-subtitle-color: lighten($text-color, 40%);

$footer-bg: transparent;
$footer-link-color: $brand-primary;
$footer-social-link-color: $footer-link-color;
$footer-social-link-color: $footer-link-color !default;
$footer-border-width: 1px 0 0 !default;
$footer-border-color: #eee transparent transparent !default;



@import '../../theme';