$container-inner-width: 980px !default;
$footer-height:         150px !default;

$border-width:           2px;
$hr-border-style:        solid !default;
$menu-button-line-color: $text-color !default;

// Dropdown

$navbar-dropdown-font-size: 14px !default;

// Search Query

$search-query-border-radius:      $border-radius-base !default;
$search-query-text-color:         #333 !default;

// Search box

$topbar-color:        inherit !default;
$topbar-border-width: 0 0 0 0 !default;
$topbar-border-color: $hr-border !default;

$hero-unit-mask-bg:      $brand-secondary !default;
$hero-unit-mask-opacity: .4 !default;

$search-icon-color:     $text-color !default;
$search-icon-font-size: 22px !default;

// Meta

$meta-font-size:  14px !default;
$meta-text-color: #979797 !default;

// Footer

$footer-bg:                $brand-secondary !default;
$footer-text-color:        #999 !default;
$footer-link-color:        #fff !default;
$footer-font-size:         14px !default;
$footer-border-width:      0 !default;
$footer-border-color:      transparent !default;
$footer-social-link-color: $footer-link-color !default;

// User Avatar

$user-avatar-size:          40px !default;

// Vote
$vote-width: $user-avatar-size !default;


// Category

$category-tree-item-title-link-color: inherit !default;

$category-list-color:       #fff !default;
$category-list-color-hover: $category-list-color !default;

// Note

$note-border-width: ($border-width * 2) !default;

// Promoted Articles
$article-list-link-color:          $link-color !default;

$custom-block-icon-color:       $brand-primary !default;
$custom-block-icon-color-hover: $link-hover-color !default;

$footer-submit-ticket-subtitle-color: lighten($text-color, 20%) !default;

