@font-face {
  font-family: Gilroy-ExtraBold;
  src: url('https://s3-us-west-2.amazonaws.com/breezythemes/pikassa/Gilroy-ExtraBold.woff2') format('woff2'),
       url('https://s3-us-west-2.amazonaws.com/breezythemes/pikassa/Gilroy-ExtraBold.woff') format('woff')
}

@font-face {
  font-family: Gilroy-Light;
  src: url('https://s3-us-west-2.amazonaws.com/breezythemes/pikassa/Gilroy-Light.woff2') format('woff2'),
  url('https://s3-us-west-2.amazonaws.com/breezythemes/pikassa/Gilroy-Light.woff') format('woff')
}

@import 'normalize';
@import 'variables';
@import 'theme-variables';
@import 'mixins';
@import 'common';
@import '_components/forms';
@import '_components/button';
@import '_components/container';
@import '_components/table';
@import '_components/grid';
@import '_components/main';
@import '_components/meta';
@import '_components/lines-icon';
@import '_components/logo';
@import '_components/breadcrumbs';
@import '_components/help-center-name';
@import '_components/hero-unit';
@import '_components/language-selector';
@import '_components/avatar';
@import '_components/search';
@import '_components/search-box';
@import '_components/search-results';
@import '_components/article';
@import '_components/comments';


@import '_components/category';
@import '_components/folder';
@import '_components/articles';
@import '_components/forum-category-list';
@import '_components/popular-topic-list';
@import '_components/topics';
@import '_components/topic-list';
@import '_components/topic';
@import '_components/new-topic';
@import '_components/my-topics';
@import '_components/ticket-list';
@import '_components/ticket';
@import '_components/alert';
@import '_components/auth';
@import '_components/signup';
@import '_components/new-ticket';
@import '_components/profile';

@import '_components/intro-title';
@import '_components/custom-block';
@import '_components/dropdown';
@import '_components/footer-submit-ticket';
@import '_components/note';
@import '_components/footer';
@import '_components/pagination';

@import '_components/topbar';
@import '_components/scroll-to-top';
@import '_components/responsive-embed';
@import '_components/responsive-utilities';
@import '_components/header';
@import '_components/related-articles';
@import '_components/entry-info';
@import '_components/attachment';

.content {
  border: 0;
  padding: 0;
}